footer.section-footer.bg-inverse(role='contentinfo')
  .container
    .row
      .col-md-6.col-lg-5
        .media
          .media-left
            span.media-object.icon-logo.display-1
          small.media-body.media-bottom
            | © Land.io 2015.
            br
            |                 Designed by Peter Finlan, developed by Taty Grassini, exclusively for Codrops.
      .col-md-6.col-lg-7
        ul.nav.nav-inline
          li.nav-item.active
            a.nav-link(href='./index-carousel.html')
              small NEW
              |  Slides
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='ui-elements.html') UI Kit
          li.nav-item
            a.nav-link(href='https://github.com/tatygrassini/landio-html', target='_blank') GitHub
          li.nav-item
            a.nav-link.scroll-top(href='#totop')
              | Back to top
              span.icon-caret-up
