section.section-pricing.bg-faded.text-xs-center
  .container
    h3 Manage your subscriptions
    .row.p-y-3
      .col-md-4.p-t-md.wp.wp-5
        .card.pricing-box
          .card-header.text-uppercase
            | Personal
          .card-block
            p.card-title Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras.
            h4.card-text
              sup.pricing-box-currency $
              span.pricing-box-price 19
              small.text-muted.text-uppercase /month
          ul.list-group.list-group-flush.p-x
            li.list-group-item Sed risus feugiat
            li.list-group-item Sed risus feugiat fusce eu sit
            li.list-group-item Sed risus feugiat fusce
          a.btn.btn-primary-outline(href='#') Get Started
      .col-md-4.stacking-top
        .card.pricing-box.pricing-best.p-x-0
          .card-header.text-uppercase
            | Professional
          .card-block
            p.card-title Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras.
            h4.card-text
              sup.pricing-box-currency $
              span.pricing-box-price 49
              small.text-muted.text-uppercase /month
          ul.list-group.list-group-flush.p-x
            li.list-group-item Sed risus feugiat
            li.list-group-item Sed risus feugiat fusce eu sit
            li.list-group-item Sed risus feugiat fusce
            li.list-group-item Sed risus feugiat
          a.btn.btn-primary(href='#') Get Started
      .col-md-4.p-t-md.wp.wp-6
        .card.pricing-box
          .card-header.text-uppercase
            | Enterprise
          .card-block
            p.card-title Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras.
            h4.card-text
              sup.pricing-box-currency $
              span.pricing-box-price 99
              small.text-muted.text-uppercase /month
          ul.list-group.list-group-flush.p-x
            li.list-group-item Sed risus feugiat
            li.list-group-item Sed risus feugiat fusce eu sit
            li.list-group-item Sed risus feugiat fusce
          a.btn.btn-primary-outline(href='#') Get Started
