extends layout

block content

  //- Page Variables

  - var page = "Homepage"



  //- Page Content

  include partials/hero-carousel
  include partials/intro
  include partials/features
  include partials/videos
  include partials/pricing
  include partials/testimonials
  include partials/text
  include partials/news
  include partials/signup
